@media (max-width: 599px) {
	.container {
		width: 320px;
	}

	.header-top,
	.header-content {
		width: 100%;
	}

	.logo {
		font-size: 30px;
	}

	.header-title {
		font-size: 32px;
	}

	.header-descr {
		font-size: 18px;
	}

	/* Main */

	.main {
		padding: 40px 0;
	}

	.main .container {
		width: 100%;
	}

	.main-row {
		flex-direction: column-reverse;
		margin-bottom: 40px;
	}

	.main-row:nth-child(even) {
		flex-direction: column-reverse;
	}

	.main-image {
		width: auto;
		height: 150px;
		margin: 0 0 20px 0;
	}

	.main-header {
		font-size: 28px;
		line-height: 1;
	}

	/* Footer */

	.footer {
		text-align: center;
	}

	.footer-row {
		flex-direction: column;
	}

	.footer-widgets-wrapper {
		flex-direction: column;
		align-items: center;
		margin-bottom: 40px;
	}

	.footer-widgets-wrapper > * {
		width: 100%;
	}

	.footer-logo {
		margin: 0 0 10px 0;
	}

	.footer-widget {
		margin-bottom: 40px;
	}

	.footer-widget:last-child {
		margin-bottom: 0px;
	}

	.footer-widget-services {
		display: block;
	}

	.footer-widget-title {
		margin-bottom: 11px;
		font-size: 20px;
	}

	.footer-widget-list {
		font-size: 16px;
	}

	.footer-widget-list li + li {
		margin-top: 10px;
	}
	

	/* Tours */

	.inner-page-tours-header {
		margin: 0 0 30px;
	}

	.cards-wrapper {
		row-gap: 20px;
	}

	.cards-first-row {
		row-gap: 20px;
	}

	.cards-second-row {
		row-gap: 20px;
	}

	.cards-second-row-column {
		row-gap: 20px;
	}

	.card  {
		width: 290px;
	}

	.card.bigger {
		width: 290px;
	}

	.card.long {
		width: 290px;
	}

	.card-title-wrapper {
		padding: 0 15px;
		height: 50px;
	}

	.card-title {
		font-size: 20px;
	}

	/* Tracking */

	.tracking-page {
		padding: 20px 0 40px;
	}

	.article-page-article-header{
		margin: 5px 0 17px 0;
	}

	.row-article-page {
		row-gap: 30px;
	}

	.article-page-nav-title {
		margin: 0px 0 15px 0;
		font-size: 22px;
	}

	.article-page-article h2,
	.article-page-article h3,
	.article-page-article h4 {
		line-height: 1;
		margin: 19px 0;
	}

	.article-page-article h4 {
		margin: 19px 0 25px;
	}

	.article-page-article p {
		margin-bottom: 15px;
	}

	.article-page-nav-list a {
		padding: 5px 0 9px;
	font-size: 16px;
	line-height: 1.3;
}


	/* Contacts */

	.contacts-page .container {
		width: 100%;
	}

	.contacts-header {
		margin: 0 0 30px 0;
	}

	.contact-row {
		row-gap: 18px;
	}

	.contact-info {
		row-gap: 30px;
	}

	.contact-list a {
		display: inline-block;
	}

	.contact-block-title {
		margin: 0 0 20px;
		font-size: 20px;
	}

	.contact-block-title-map {
		margin: 0px 0 20px;
	}

	.contact-block-map {
		width: 100%;
		height: auto;
	}

	.contact-list li {
		margin: 0 0 15px 0;
		font-size: 16px;
		line-height: 1.3;
	}

	.contact-list-icon {
		padding: 0 0 0 34px;
	}

	.contact-list-icon::before {
		top: 0;
	}

	.form {
		padding: 20px 15px 30px;
		font-size: 16px;
	}

	.form-group-row {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		margin-bottom: 10px;
	}

	.form-group-row > .input + .input {
		margin-left: 0;
	}

	.input {
		padding: 0 14px;
	}

	.form-title {
		margin: 14px 0 21px 0;
		font-size: 24px;
		/* letter-spacing: -0.5px; */
	}

	.form-group-title {
		margin-bottom: 10px;
		font-size: 18px;
		letter-spacing: -0.1px;
	}

	.form-group {
		margin-bottom: 20px;
	}

	.form-group:last-of-type {
		margin-bottom: 20px;
	}

	.radio-row {
		margin-bottom: 10px;
	}

	.checkbox-row {
		margin-bottom: 21px;
	}

	.checkbox-row span {
		letter-spacing: 0.1px;
	}

	.form .button {
		padding: 0 35px;
	}
}
