
.cards-first-row {
	display: flex;
	justify-content: space-between;
	margin: 0 0 30px 0;
}

.cards-second-row {
	display: flex;
	justify-content: space-between;
}

.cards-second-row-column > * + * {
	margin: 30px 0 0 0;
}

.card-wrapper-link {
	display: block;
	color: #fff;

	transition: transform 0.2s ease;
}

.card-wrapper-link:hover {
	opacity: 0.9;
	transform: scale(1.03);
}

.card {
	width: 570px;
}

.card.bigger {
	width: 670px;
}

.card.long {
	width: 470px;
}

.card-title-wrapper {
	display: flex;
	align-items: center;
	padding: 0 30px;

	height: 80px;
	background: #A6A6A6;

	overflow: hidden;
	white-space: nowrap;
}

.card-title-wrapper.extreme {
	background: #C1B19B;
}

.card-title-wrapper.adventure {
	background: #66B0BE;
}

.card-title-wrapper.tracking {
	background: #876F56;
}

.card-title-wrapper.jungle {
	background: #27695E;
}

.card-title {
	font-weight: 700;
	font-size: 28px;

	overflow: hidden;
	text-overflow: ellipsis;
}
