
.header {
	position: relative;
	padding: 50px 0 0 0;

	height: 800px;
	background-color: #265847;
	background-image: url('../img/header/bg.jpg');
	background-position: center;
	background-size: cover;
	color: #fff;
}

.inner-header {
	display: flex;
	align-items: center;

	height: 100px;
	background-color: #265847;
	background-image: url('../img/header/bg-2.jpg');
	background-position: center;
	background-size: cover;
	color: #fff;
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 1170px;
	margin: 0 auto;
}

.header-nav-list {
	display: flex;
	font-weight: 400;
	font-size: 22px;
}

.header-nav-button {
	display: none;
}

.header-nav-list-item:not(:last-child){
	margin: 0 50px 0 0;
}

.header-nav-link {
	color: #fff;
}


.header-content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding-top: 20px;

	width: 1170px;
	text-align: center;
}

.header-title {
	font-weight: 700;
	font-size: 60px;
	margin: 0 0 20px 0;
}

.header-descr {
	font-weight: 400;
	font-size: 24px;
}


.header-scroll {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	padding: 0 0 34px 0;

	display: inline-block;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
}

.header-scroll::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	display: block;
	width: 19px;
	height: 24px;
	background-image: url('../img/header/arrow-down.svg');

}