
.radio-row {
	display: flex;
	align-items: flex-start;
	margin-bottom: 21px;
}

.radio-row:last-child {
	margin: 0;
}

.real-radio {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	z-index: -1;
	appearance: none;
}



.custom-radio {
	flex-shrink: 0;
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 15px;
	width: 20px;
	height: 20px;
	background: #EEEEEE;
	border: 1px solid #C0C0C0;
	border-radius: 50%;
}

.real-radio:focus + .custom-radio {
	box-shadow: 0 0 0px 2px rgb(0, 0, 0);
}

.custom-radio::before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0);
	width: 12px;
	height: 12px;
	background-color: #2AB698;
	border-radius: 50%;

	transition: transform 0.2s ease-in;
}

.real-radio:checked + .custom-radio::before {
	transform: translate(-50%, -50%) scale(1);
}	